body{
  font: Arial,Helvetica, sans-serif ;
  padding: 0;
  margin: 0;
  background-color: rgb(247, 248, 246);
} 

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.highlight{
  color: rgb(4, 8, 0);
  font: italic;
}

ul{
  margin: 0;
  padding: 0;
}

header{
  background-color: rgb(8, 3, 83);
  color: aliceblue;
  padding-top: 30px;
  min-height: 70px;
}

header a {
  color: aliceblue;
  text-decoration:none ;
  font-size: 17px;
}

header li {
  display: inline;
  padding: 0 20px;
  float: left;
}

header nav {
  margin-bottom: 100px;
}

header .current a {
  color: rgb(172,241,241);
  font-weight: bold;
}

header a:hover {
  color:rgb(172, 241, 241);
  font-weight: bold;
  
}

#showcase {
  min-height: ;
  background-color: rgb(6, 122, 218);
  text-align: center;
  color: aliceblue;
}


#boxes .container0 {
  float: center;
  text-align: center;
}

#boxes .container1 {
  float: center;
  text-align: center;
  background-image: url(../img/123.jpg);
  background-size: cover;
  color: rgb(7, 6, 0);
  padding: 100px;
}

#boxes .container2 {
  background-image: url(../img/book.jpg);
  /* color: aliceblue; */
  background-size: cover;
  padding: 100px;
}

#boxes .container4{
  background-image: url(../img/programing.png);
  background-size: cover;
  padding: 100px;
  color: aliceblue;
}
#boxes .container4 .cp{
  font-size: 100%;
  font-style: italic;
  
}

#boxes .container3 .p1

{
  background-color: rgb(112, 176, 248);
  padding: 30px;
  color: aliceblue;
  margin: 10px 100px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: rgb(1, 75, 97);
}

@media (max-width: 991.98px){
  .container-fluid{
    position: relative;
    bottom: 45px;
  }
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  a.jcm-top{
    width: 100px;
    bottom: 8%;
  }
}



@media(max-width: 768px) {
  header nav,
  header #branding,
  header nav li,

  {
    float:none;
    text-align: center;
    width: 100%;
  }
  
  header li
  {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}


/*팀프로젝트 페이지 시작*/

#teamproject{
  font-family: 'NanumSquare', sans-serif;
  margin-top: 3%;
  margin-bottom: 3%;
}

h2{
  font-family: 'Jua', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #731B47;
  font-size: 2.8vw!important;
}

.ex{
  font-weight: bold;
  text-align: center;
  font-size: 1.6vw;
}

.img-box{
  text-align: center;
  padding-bottom: 7%;
  padding-top: 1%;
}

.img-box img{
  width: 57vw;
}

h3{
  font-weight: bold!important;
  font-size: 1.5vw!important;
  padding-bottom: 1.5%;
}

.ex2{
  font-size: 1.4vw;
  margin-bottom: 0.8%;
}

.ex3{
  font-size: 1.4vw;
}

.big_team_container{
  margin-top: 7%;
  font-weight: bold;
}

#part, #part_atc{
  font-size: 1.5vw;
  margin-left: 35%;
  margin-top: 2.6%;
}

#part{
  color: #385723;
}

#part_atc{
  line-height: 120%;
}

#square_1, #square_2, #square_3, #square_4, #square_5{
  margin-bottom: 0.7vw;
  height: 13.5vw;
}

#square_1{
  background-color: #F6EFE2;
}

#square_1 p{
  position: relative;
  bottom: 13.6vw;
}

#square_2{
  background-color: #F0EEE8;
}

#square_2 p{
  position: relative;
  bottom: 12.4vw;
}

#square_3{
  background-color: #DDE7E2;
}

#square_3 p{
  position: relative;
  bottom: 11.3vw;
}

#square_4{
  background-color: #F9F0E8;
}

#square_4 p{
  position: relative;
  bottom: 11.8vw;
}

#square_5{
  background-color: #ECE6E3;
}

#square_5 p{
  position: relative;
  bottom: 11.6vw;
}

#icon_1{
  width: 16%;
  margin-top: 0.5%;
  margin-left: 8%;
}

#icon_2{
  width: 14%;
  margin-top: 1.1%;
  margin-left: 9.8%;
}

#icon_3{
  width: 11.5%;
  margin-top: 2.2%;
  margin-left: 10.5%;
}

#icon_4{
  width: 12.7%;
  margin-left: 10.6%;
  margin-top: 1.7%;
}

#icon_5{
  width: 12.8%;
  margin-top: 1.4%;
  margin-left: 9.3%;
}

footer {
  font-size: 1.1vw;
  color: gray;
  padding: 1%;
  margin-top: 0.8%;
  text-align: center;
}
a.jcm-top {
  position: fixed;
  right: 1%;
  bottom: 5%;
  text-align: center;
  width: 4%;
  height: 5%;
  z-index: 999;
  display: none; 
}

@media(min-width: 1550px){
  #main .container{
    margin-right: 105px;
  }

  h1{
    position: relative;
    top: 5%;
    right: 3%;
  }
}

@media (max-width: 991.98px){
  #main{
    height: 1000px;
  }

  /* .navbar-brand{
    display: none;;
  }

  .navbar-nav .nav-link{
    font-size: 3.5vw;
  }

  .navbar-collapse{
    width: 6vw;
  }

  .navbar-nav .dropdown-menu{
    width: 20vw;
  } */

  .dropdown-item{
    font-size: 3.2vw;
  }

  ul{
    width: 10vw;
    position: relative;
    left: 44%;
  }

  h1{
    float: none;
    text-align: center;
    font-size: 8vw!important;
  }

  .big-slideshow-container{
    float: none;
    text-align: center;
  }

  .slideshow-container img{
    width: 76vw;
    height: 74vw;
  }

  .dot {
    height: 2.7vw;
    width: 2.7vw;
  }
